[Desktop Entry]
Version=1.0
Type=Link
Name=Session 17 - Continued Fractions
Comment=Session 17 - Continued Fractions
Icon=firefox
URL=https://goo.gl/eJ26b8
GenericName=Session 17 - Continued Fractions
