[Desktop Entry]

Version=1.0

Type=Link

Name=Session 06 - Operators, Conditionals, Number Theory

Comment=Session 06 - Operators, Conditionals, Number Theory

Icon=firefox

URL=https://goo.gl/t5CMpu
GenericName=Session 06 - Operators, Conditionals, Number Theory
