[Desktop Entry]

Version=1.0

Type=Link
Name=Session 16 - Computational Science

Comment=Session 16 - Computational Science

Icon=firefox

URL=https://goo.gl/tujPbg
GenericName=Session 16 - Computational Science

