[Desktop Entry]

Version=1.0

Type=Link

Name=Session 22 - Early Quantum Mechanics

Comment=Session 22 - Early Quantum Mechanics

Icon=firefox

URL=https://goo.gl/VoRkYn
GenericName=Session 22 - Early Quantum Mechanics
