[Desktop Entry]

Version=1.0

Type=Link

Name=Session 21 - Computational Physics

Comment=Session 21 - Computational Physics

Icon=firefox

URL=https://goo.gl/cQA5ds
GenericName=Session 21 - Computational Physics
