[Desktop Entry]

Version=1.0

Type=Link

Name=Session 12 - Combinatorics, Recursion

Comment=Session 12 - Combinatorics, Recursion

Icon=firefox

URL=https://goo.gl/S3HSa4
GenericName=Session 12 - Combinatorics, Recursion
