[Desktop Entry]

Version=1.0

Type=Link

Name=Session 08 - Curve Fitting with Difference Tables

Comment=Session 08 - Curve Fitting with Difference Tables

Icon=firefox

URL=https://goo.gl/uL7Mrg
GenericName=Session 08 - Curve Fitting with Difference Tables
