[Desktop Entry]
Version=1.0
Type=Link
Name=Session 08 - Curve Fitting with Difference Tables
Comment=Session 08 - Curve Fitting with Difference Tables
Icon=firefox
URL=https://goo.gl/9yZos5
GenericName=Session 08 - Curve Fitting with Difference Tables
