[Desktop Entry]

Version=1.0

Type=Link

Name=Session 01 - Course Introduction

Comment=Session 01 - Course Introduction

Icon=firefox

URL=https://goo.gl/g11NPi

GenericName=Session 01 - Course Introduction
