[Desktop Entry]

Version=1.0

Type=Link

Name=Session 07 - Random Numbers, Statistics

Comment=Session 07 - Random Numbers, Statistics

Icon=firefox

URL=https://goo.gl/M4zvBx
GenericName=Session 07 - Random Numbers, Statistics

