[Desktop Entry]

Version=1.0

Type=Link

Name=Session 05 - Functional Equations, Equilibrium Simulation

Comment=Session 05 - Functional Equations, Equilibrium Simulation

Icon=firefox

URL=https://goo.gl/qCt1hh
GenericName=Session 05 - Functional Equations, Equilibrium Simulation
