[Desktop Entry]
Version=1.0
Type=Link
Name=Session 05 - Functional Equations, Equilibrium Simulation
Comment=Session 05 - Functional Equations, Equilibrium Simulation
Icon=firefox
URL=https://goo.gl/sN4G4L
GenericName=Session 05 - Functional Equations, Equilibrium Simulation
