[Desktop Entry]
Version=1.0
Type=Link
Name=Session 15 - 3D Graphics, Vector Algebra
Comment=Session 15 - 3D Graphics, Vector Algebra
Icon=firefox
URL=https://goo.gl/7zMQYv
GenericName=Session 15 - 3D Graphics, Vector Algebra
