[Desktop Entry]
Version=1.0
Type=Link
Name=Session 09 - Algorithms, Series Convergence
Comment=Session 09 - Algorithms, Series Convergence
Icon=firefox
URL=https://goo.gl/zV2osV
GenericName=Session 09 - Algorithms, Series Convergence
