[Desktop Entry]
Version=1.0
Type=Link
Name=Session 19 - Monte Carlo Integration
Comment=Session 19 - Monte Carlo Integration
Icon=firefox
URL=https://goo.gl/f1Wc5k
GenericName=Session 19 - Monte Carlo Integration
