[Desktop Entry]

Version=1.0

Type=Link

Name=Session 20 - Feuerstein Stencils

Comment=Session 20 - Feuerstein Stencils

Icon=firefox

URL=https://goo.gl/V2eZHY
GenericName=Session 20 - Feuerstein Stencils

