[Desktop Entry]

Version=1.0

Type=Link

Name=Session 13 - 2D Graphics, Polar Coordinates

Comment=Session 13 - 2D Graphics, Polar Coordinates

Icon=firefox

URL=https://goo.gl/oNno2U
GenericName=Session 13 - 2D Graphics, Polar Coordinates
