[Desktop Entry]

Version=1.0

Type=Link

Name=Session 02 - Cloud PC, Linux Xfce, CodeBlocks

Comment=Session 02 - Cloud PC, Linux Xfce, CodeBlocks

Icon=firefox

URL=https://goo.gl/g354cd
GenericName=Session 02 - Cloud PC, Linux Xfce, CodeBlocks
