[Desktop Entry]

Version=1.0

Type=Link

Name=Session 04 - Boolean Algebra, Logic Gates

Comment=Session 04 - Boolean Algebra, Logic Gates

Icon=firefox

URL=https://goo.gl/GiQa4D
GenericName=Session 04 - Boolean Algebra, Logic Gates
