[Desktop Entry]

Version=1.0

Type=Link

Name=Session 14 - Matrices, Search Algorithms

Comment=Session 14 - Search Algorithms

Icon=firefox

URL=https://goo.gl/CqxBNx
GenericName=Session 14 - Matrices, Search Algorithms
