[Desktop Entry]

Version=1.0

Type=Link

Name=Session 03 - Code Structure, Variables

Comment=Session 03 - Code Structure, Variables

Icon=firefox

URL=https://goo.gl/QysYQG
GenericName=Session 03 - Code Structure, Variables
