[Desktop Entry]
Version=1.0
Type=Link
Name=Session 11 - Strings, ROOT, Cryptography
Comment=Session 11 - Strings, ROOT, Cryptography
Icon=firefox
URL=https://goo.gl/9UZcej
GenericName=Session 11 - Strings, ROOT, Cryptography
