[Desktop Entry]
Version=1.0
Type=Link
Name=Session 10 - Vectors, Instrumentation
Comment=Session 10 - Vectors, Instrumentation
Icon=firefox
URL=https://goo.gl/FDGCre
GenericName=Session 10 - Vectors, Instrumentation

